body{
    background-color: rgb(34, 34,34);
    color: rgb(221, 219, 219);
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    font-family: poppinsregular;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
    justify-content: space-between;
}

a{
    color: whitesmoke;
}

h1{
    font-weight: 170;
    font-size: 50px;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 52px;
    line-height: 12px;
    font-family: poppinsmedium;
}

span{
    color: rgb(177, 10, 160);
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img{
    width: 620px;
    margin-left: 15%;
}

a:hover{
    color: rgb(177, 10, 160);
    transition: 0.3s all;
}

#borda{
    border: 2px solid rgb(177, 10, 160);
    padding: 10px;
    border-radius: 20px;
}
#borda:hover{
    background-color: rgb(177, 10, 160);
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    width: 75%;
}
input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    color: white;
    font: bold;
    background-color: rgb(177, 10, 160);
}

form [type="submit"]:hover{
    cursor: pointer;
}